h1{
  color: #6b0387;
  font-family: Bookman;
  letter-spacing: -5px;
  text-align: center;
  font-size: 60px;
  overflow: hidden;
  }

h2{
  color: #1f8703;
  font-family: Bookman;
  letter-spacing: -5px;
  font-size: 40px;
  text-decoration-style: wavy;
  text-decoration-line: underline;
  text-transform: lowercase;
  margin-left: 165px;
}

figure img{
  height: 450px;
  width: auto;
  float: left;
  margin-right: 20px;
  border: 15px dotted #6b0387;
  padding: 8px;
  overflow: hidden;
}

body{
  background-color: #fae8ff;
}

article p{
  color: #585856;
  font-family: Georgia;
  text-align: justify;
  background-color: #e8fce2;
  overflow: hidden;
  border: 5px #585856 dotted;
  padding: 40px;
  margin-right: 300px;
}

article p::first-letter{
  color: #6b0387;
  background-color: #fae8ff;
  border-radius: 2px;
  box-shadow: 3px 3px 0 #6b0387;
  font-size: 200%;
  padding: 6px 3px;
  margin-right: 6px;
  float: left;
}

article img{
  height: 400px;
  text-wrap: wrap;
  float: right;
  padding: 20px;
  margin-right: 100px;
  
}